body {
    min-height: 100vh;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
}

#container2 {
    width: 100vw;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.content1 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {;
    box-shadow: 0px 5px grey;
    background-color: white;
    border-radius: 100px;
    border: 2px solid :-moz-only-whitespace;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerText {
    font-size: 32px;
}

.console {
    width: 70%;
    height: 300px;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: -2px 3px white;
    display: flex;
    flex-direction: row;

}

button {
    width: 150px;
    border-radius: 50px;
    border: none
}

.buttons {
    width: 50%;
    height: 7%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


